* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transform-origin: center;
    font-family: 'Crimson Text';
    color: white;
}

html, body {
    height: 100%;
    background-color: black;
    min-width: 320px;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
}

main {
    width: 100%;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin-bottom: 10px;;
}

.dbd-logo {
    max-width: 75%;
    max-height: auto;
    margin-top: 5px;
    position: relative;
    left: 5px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

.begin-prompt {
    max-width: 500px;
    margin: auto;
}

p {
    margin: 0 10px;
}

.important {
    font-size: 24px;
    text-align: center;
}

.basicText {
    font-size: 18px;
    text-align: center;
}

.tallies {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

li {
    list-style: none;
}

#questionNumber, #scoreNumber {
    font-size: 16px;
    padding: 0px;
    position: relative;
    top: 0px;
}

.questionAnswerForm {
    width: 100%;
    text-align: center;
}

.answerResponse {
    display: none;
    width: 100%;
    text-align: center;
}

fieldset {
    border: none;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

label {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 90%;
    height: 40px;
    border: 2px solid darkred;
    border-radius: 1px;
    margin: 10px auto;
    background-color: darkred;
}

span {
    width: 100%;
    font-size: 18px;
    height: 100%;
    padding-top: 5px;
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked ~ span {
    background-color: red;
}

button {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 40px;
    width: 90%;
    font-size: 18px;
    border: 2px solid darkslategray;
    border-radius: 1px;
    margin: 10px auto;
    background-color: darkslategray;
}

.image-assets, .video-assets {
  display: none;
}

@media (orientation: landscape) {
    body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        align-content: stretch;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: scroll;
    }

    main {
        height: 100%;
        width: 33.33%;
        z-index: 1;
    }

    .image-assets, .video-assets {
        display: flex;
        height: 100%;
        width: 33.33%;
    }

    .imagery {
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        text-align: center;
    }

    .imagery > img {
        max-width: 100%;
        max-height: 100%;
    }

    .imagery > a, .video > a {
        color: white;
        font-size: 18px;
        text-shadow: -2px 2px 2px black;
        margin: 20px;
    }

    .video {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        text-align: center;
        width: 100%;
    }

    iframe {
        width: auto;
        height: 100%;
        margin: 20px;
    }
}