* {
  box-sizing: border-box;
  color: white;
  font-family: "Crimson Text";
  margin: 0;
  padding: 0;
  transform-origin: center;
}

html,
body {
  background-color: black;
  height: 100%;
  min-width: 320px;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;
}

main {
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.dbd-logo {
  margin-top: 5px;
  max-width: 40%;
  max-height: auto;
  position: relative;
  left: 5px;
}

.logo > a {
  text-decoration: none;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

.begin-prompt {
  margin: auto;
  max-width: 500px;
}

p {
  margin: 0 10px;
}

.important {
  font-size: 24px;
  text-align: center;
}

.basicText {
  font-size: 18px;
  text-align: center;
}

li {
  list-style: none;
}

.tallies {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#questionNumber,
#scoreNumber {
  font-size: 16px;
  padding: 0px;
  position: relative;
  top: 0px;
}

.questionAnswerForm {
  text-align: center;
  width: 100%;
}

.answerResponse {
  display: none;
  text-align: center;
  width: 100%;
}

fieldset {
  border: none;
  margin: auto;
  max-width: 500px;
  width: 100%;
}

label {
  background-color: darkred;
  border: 2px solid darkred;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

span {
  font-size: 18px;
  height: 100%;
  width: 100%;
  padding-top: 5px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ span {
  background-color: red;
}

button {
  background-color: darkslategray;
  border: 2px solid darkslategray;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  height: 40px;
  width: 90%;
  margin: 10px auto;
  text-align: center;
  line-height: 35px;
}

.image-assets,
.video-assets {
  display: none;
}

@media (orientation: landscape) {
  main {
    height: 100%;
    width: 33.33%;
    z-index: 1;
  }

  .dbd-logo {
    max-width: 100%;
    min-width: 75%;
  }

  .image-assets,
  .video-assets {
    display: flex;
    height: 100%;
    width: 33.33%;
  }

  .imagery {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    text-align: center;
  }

  .imagery > img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  .imagery > a,
  .video > a {
    color: white;
    font-size: 18px;
    margin: 20px;
  }

  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 5px;
    text-align: center;
  }
}
